/* your custom css */

/* Base scaffolding taken from Markswatch theme */
body {
	font-family: Graphik, sans-serif;
	font-size: 15px;
	line-height: 28px;
	-webkit-font-smoothing: antialiased;
}

a {
  font-weight: 500;
  font-style: normal;
  color: $primaryColor;
  text-decoration: none;
  transition: color .15s ease-in;
}

a:hover {
  font-weight: 500;
  font-style: normal;
  color: $secondaryColor;
  text-decoration: none;
}

.container.paddingTop {
	padding-top: 160px;
}

.container.paddingBottom {
	padding-bottom: 160px;
}

@media (min-width: 360px) and (max-width: 736px) {
  .container.paddingTop {
    padding-top: 85px;
  }

  .container.paddingBottom {
    padding-bottom: 85px;
  }
}

/* ==========================================================================
   Grid System
   ========================================================================== */

.col-container {
	display: flex;
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 20px;
}

@media only screen and (max-width: 768px) {
	.col-container {
		flex-direction: column;
	}
}

.col-container.align-end {
	align-items: flex-end;
}

.col-container .col {
	max-width: 33.3%;
	min-width: 33.3%;
	flex-basis: 33.3%;
}

@media only screen and (max-width: 768px) {
	.col-container .col {
		max-width: 100%;
		min-width: 100%;
		flex-basis: 100%;
	}
}

.col-container .col-half {
	max-width: 50%;
	min-width: 50%;
	flex-basis: 50%;
}

.col-container .col-twothird {
	max-width: 66.6%;
	min-width: 66.6%;
	flex-basis: 66.6%;
}

@media only screen and (max-width: 768px) {
	.col-container .col-twothird {
		max-width: 100%;
		min-width: 100%;
		flex-basis: 100%;
	}
}

/* ==========================================================================
   Navigation Slider
   ========================================================================== */

.navigationSlider .slidingNav ul li a {
	font-weight: 500;
	font-size: 14px;
	color: #fff;
  line-height: 1;
  transition: color .15s ease-in;
}

.navigationSlider .slidingNav ul li a:hover {
color: $secondaryColor;
}

.navigationSlider .slidingNav ul a[href*="github"] {
	/* font-size: 0; */
}

.navigationSlider .slidingNav ul a[href*="github"]::before {
	content: "";
	width: 15px;
	height: 15px;
	background: url("/img/github-brands.svg");
	margin: -2px 10px 0px 0px;
}


@media only screen and (max-width: 1024px) {
  .navSearchWrapper {
    top: 10px;
  }

  .reactNavSearchWrapper input#search_input_react {
    background-color: #0003;
    height: 30px;
  }

  .reactNavSearchWrapper input#search_input_react {
    color:#fff; 
  }
}



.fixedHeaderContainer header .headerTitleWithLogo {
color: #fff;
}

/* Mediaqueries
   ========================================================================== */

   @media (min-width: 360px) and (max-width: 736px) {
  .imageAlignSide .blockImage {
    display: block;
  }

  .imageAlignRight .blockImage {
    margin: 0px;
    margin-top: 75px;
  }

  .imageAlignLeft .blockImage {
    margin: 0px;
    margin-top: 0px;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
