/* ==========================================================================
   Styles for Main Content
   ========================================================================== */


.separateOnPageNav.sideNavVisible .navPusher .mainContainer {
  padding: 40px 0px 100px;
}

.mainContainer {
  flex: 1 1 auto;
  max-width: 100%;
  padding: 0px 0px 100px;
}

.mainContainer .wrapper {
  text-align: left;
}

.mainContainer .wrapper .allShareBlock {
  padding: 10px 0;
}

.mainContainer .wrapper .allShareBlock .pluginBlock {
  margin: 12px 0;
  padding: 0;
}

.mainContainer .wrapper .post {
  position: relative;
}

.mainContainer .wrapper .post.basicPost {
  margin-top: 30px;
}

.mainContainer .wrapper .post .postHeader {
  margin-bottom: 16px;
}

.mainContainer .wrapper .post .postHeaderTitle {
  margin-top: 0;
  padding: 0;
}

.mainContainer .wrapper .post h1.postHeaderTitle {
  color: #050c40;
  font-size: 45px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -2px;
}


.mainContainer .wrapper .post .postSocialPlugins {
  padding-top: 1em;
}

.mainContainer .wrapper .post .docPagination {
  background: $primaryColor;
  bottom: 0px;
  left: 0px;
  position: absolute;
  right: 0px;
}

.mainContainer .wrapper .post .docPagination .pager {
  display: inline-block;
  width: 50%;
}

.mainContainer .wrapper .post .docPagination .pagingNext {
  float: right;
  text-align: right;
}

.mainContainer .wrapper .post .docPagination a {
  border: none;
  color: #fff;
  display: block;
  padding: 4px 12px;
}

.mainContainer .wrapper .post .docPagination a:hover {
  background-color: #f9f9f9;
  color: #393939;
}

.mainContainer .wrapper .post .docPagination a .pagerLabel {
  display: inline;
}

.mainContainer .wrapper .post .docPagination a .pagerTitle {
  display: none;
}

@media only screen and (min-width: 480px) {
  .mainContainer .wrapper .post .docPagination a .pagerLabel {
    display: none;
  }

  .mainContainer .wrapper .post .docPagination a .pagerTitle {
    display: inline;
  }
}

@media only screen and (min-width: 1024px) {
  .mainContainer .wrapper .post {
    display: block;
  }

  .mainContainer .wrapper .posts .post {
    width: 100%;
  }
}

/* Main Content > Post styles
   ========================================================================== */

.post article h2 { 
  font-size: 35px;
  letter-spacing: -1.5px;
  line-height: 45px;
  color: #050c40;
  font-weight: 400;
}

.post article h3 { 
  font-size: 30px;
  letter-spacing: -1.3px;
  line-height: 40px;
  color: #050c40;
  font-weight: 400;
}

.post article ul { 
  padding-left: 0;
}

.post article ul li { 
  font-size: 15px;
  line-height: 28px;
  color: #050c4099;
  position: relative;
  padding-left: 22px;
  list-style: none;
}

.post article ul li::before { 
  position: absolute;
  top: 12px;
  left: 0;
  height: 5px;
  width: 5px;
  content: "";
  border-radius: 50%;
  background-color: $secondaryColor;
}

.post article p { 
  font-size: 15px;
  line-height: 28px;
  color: #050c4099;
}

.post article p a { 
  font-weight: 500;
  font-style: normal;
  color:  $secondaryColor;
  text-decoration: none;
}

/* Code Snipets */
.post article .hljs {
  background-color: #15203c;
}


