/* Navbar */
.navbar {
  background: #1b2540 !important;
  color: #fff;
  min-height: 50px;
  padding: 8px 0;
  position: fixed !important;
  width: 100%;
  z-index: 9999;
  transform: translate3d(0, 0, 0);
}

.navbar__inner {
  margin: 0px auto;
  padding: 0 20px;
  max-width: 1400px;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  text-align: left;
}

strong.navbar__title {
  display: none !important;
}

@media only screen and (min-width: 1024px) {
  .navbar {
    flex-shrink: 0;
  }
}

.navbar a {
  align-items: center;
  border: 0;
  color: #fff;
  display: flex;
  flex-flow: row nowrap;
  height: 34px;
  z-index: 10000;
}

.navbar header {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  text-align: left;
}

.navbar header img {
  height: 100%;
  margin-right: 10px;
}

.navbar header .headerTitle {
  font-size: 1.25em;
  margin: 0;
}

.navbar header .headerTitleWithLogo {
  display: none !important;
}

.navbar header h3 {
  color: white;
  font-size: 16px;
  margin: 0;
  margin-left: 10px;
  text-decoration: underline;
}

@media (max-width: 480px) {
  .headerTitle {
    font-size: 17px;
  }

  .headerTitleWithLogo {
    display: none !important;
  }
}
@media (max-width: 500px) {
  img.logo {
    content: url("../img/Accord-Project-logo-small.svg");
  }
}

/* End of Navbar */

/* Start of Footer */
.nav-footer {
  background: #20232a;
  border: none;
  color: #202020;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 2em;
  padding-top: 2em;
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .nav-footer {
    flex-shrink: 0;
  }
}

.nav-footer .sitemap {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 3em;
  max-width: 1080px;
}

.nav-footer .sitemap div {
  flex: 1;
}

.nav-footer .sitemap .nav-home {
  display: table;
  height: 72px;
  margin: -12px 20px 0 0;
  opacity: 0.4;
  padding: 10px;
  transition: opacity 0.15s ease-in-out;
  width: 72px;
}

.nav-footer .sitemap .nav-home:hover,
.nav-footer .sitemap .nav-home:focus {
  opacity: 1;
}

@media only screen and (max-width: 735px) {
  .nav-footer .sitemap {
    display: flex;
    flex-direction: column;
    margin: 0 2em 3em;
    width: calc(100% - 4em);
  }

  .nav-footer .sitemap > div {
    margin-bottom: 18px;
  }
}

.nav-footer .sitemap a {
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin: 2px -10px;
  padding: 3px 10px;
}

.nav-footer .sitemap a:hover,
.nav-footer .sitemap a:focus {
  color: white;
  text-decoration: none;
}

.nav-footer .sitemap h5 > a:hover,
.nav-footer .sitemap h5 > a:focus {
  color: white;
  text-decoration: none;
}

.nav-footer .sitemap h5,
.nav-footer .sitemap h6 {
  margin: 0 0 10px;
}

.nav-footer .sitemap h5 {
  color: white;
}

.nav-footer .sitemap h6,
.nav-footer .sitemap h5 > a,
.nav-footer .sitemap h6 > a {
  color: white;
}

.nav-footer .sitemap h5 > a,
.nav-footer .sitemap h6 > a {
  margin: 0 -10px;
}

.nav-footer .linux-foundation-logo img {
  width: 300px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.nav-footer .fbOpenSource {
  display: block;
  margin: 1em auto;
  opacity: 0.4;
  transition: opacity 0.15s ease-in-out;
  width: 170px;
}

.nav-footer .fbOpenSource:hover {
  opacity: 1;
}

.nav-footer .copyright {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}

.nav-footer .social {
  padding: 5px 0;
}
/* End of Footer */


/* Main Container */
.mainContainer {
  flex: 1 1 auto;
  max-width: 100%;
  padding: 40px 0;
}

.mainContainer .wrapper {
  text-align: left;
}

.mainContainer .wrapper .allShareBlock {
  padding: 10px 0;
}

.mainContainer .wrapper .allShareBlock .pluginBlock {
  margin: 12px 0;
  padding: 0;
}

.mainContainer .wrapper .post {
  position: relative;
}

.mainContainer .wrapper .post.basicPost {
  margin-top: 30px;
}

.mainContainer .wrapper .post .postHeader {
  margin-bottom: 16px;
}

.mainContainer .wrapper .post .postHeaderTitle {
  margin-top: 0;
  padding: 0;
}

.mainContainer .wrapper .post .postSocialPlugins {
  padding-top: 1em;
}

.mainContainer .wrapper .post .docPagination {
  background: #1b2540;
  bottom: 0px;
  left: 0px;
  position: absolute;
  right: 0px;
}

.mainContainer .wrapper .post .docPagination .pager {
  display: inline-block;
  width: 50%;
}

.mainContainer .wrapper .post .docPagination .pagingNext {
  float: right;
  text-align: right;
}

.mainContainer .wrapper .post .docPagination a {
  border: none;
  color: #fff;
  display: block;
  padding: 4px 12px;
}

.mainContainer .wrapper .post .docPagination a:hover {
  background-color: #f9f9f9;
  color: #393939;
}

.mainContainer .wrapper .post .docPagination a .pagerLabel {
  display: inline;
}

.mainContainer .wrapper .post .docPagination a .pagerTitle {
  display: none;
}

@media only screen and (min-width: 480px) {
  .mainContainer .wrapper .post .docPagination a .pagerLabel {
    display: none;
  }

  .mainContainer .wrapper .post .docPagination a .pagerTitle {
    display: inline;
  }
}

@media only screen and (min-width: 1024px) {
  .mainContainer .wrapper .post {
    display: block;
  }

  .mainContainer .wrapper .posts .post {
    width: 100%;
  }
}
/* End of Main Container */

/* ==========================================================================
   Section > Home Container
   ========================================================================== */

   .heroCover {
    background: #1b2540 url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 2205px 2000px;
    position: relative;
  }
  
  .heroCover::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-image: url(../img/noise.png);
    background-size: 276px 276px;
    pointer-events: none;
  }
  
  @media (min-width: 360px) and (max-width: 736px) {
    .heroCover {
      background-position: center top;
      background-size: cover;
    }
  }
  
  .homeContainer {
    text-align: center;
    /* background-color: #1b2540; */
  }
  
  .homeContainer .homeWrapper {
    /* padding: 2em 10px; */
    padding: 120px 10px 80px;
  }
  
  @media (min-width: 360px) and (max-width: 736px) {
    .homeContainer .homeWrapper {
      padding: 56px 10px 40px;
    }
  }

.projectTitle {
  color: #d3cee0;
  font-size: 60px;
  line-height: 65px;
  letter-spacing: -2px;
  font-weight: 200;
  text-align: center;
  max-width: 650px;
  margin: 20px auto;
}

@media (min-width: 360px) and (max-width: 736px) {
  .projectTitle {
    font-size: 50px;
    line-height: 55px;
  }
}

.projectTitle .lead {
  color: #fff;
  font-weight: 400;
  display: inline;
}

/* Home Container > Promo Section
   ========================================================================== */

.promoSection .promoRow .pluginRowBlock {
  margin-top: 40px;
}

.promoSection .promoRow .pluginRowBlock .pluginWrapper {
  margin-right: 5px;
}

.promoSection .promoRow .pluginRowBlock .pluginWrapper.buttonWrapper .button {
  color: #050c40;
  background-color: #19c6c6;
  border: 2px solid transparent;
}

.promoSection
  .promoRow
  .pluginRowBlock
  .pluginWrapper.buttonWrapper
  .button:hover {
  color: #050c40;
  background-color: #fff;
  border: 2px solid transparent;
}

@media (min-width: 360px) and (max-width: 736px) {
  .promoSection .promoRow .pluginRowBlock {
    justify-content: flex-start;
  }

  .promoSection .promoRow .pluginRowBlock .pluginWrapper {
    margin-bottom: 15px;
  }

  .promoSection .promoRow .pluginRowBlock {
    margin-left: 10px;
  }
}

/* Home Container > Features
   ========================================================================== */

   #features.container {
    padding: 0px 0px 130px;
    /* background: #1b2540; */
    color: #fff;
    margin-top: -1px;
  }
  
  @media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
    #features.container {
      padding: 0px 0px 75px;
    }
  }
  
  #features .blockElement {
    margin: 5px;
  }
  
  #features .blockElement img {
    height: 30px;
  }
  
  @media (min-width: 360px) and (max-width: 736px) {
    #features .blockElement {
      margin-bottom: 20px;
    }
  }
  
  #features .blockContent {
    z-index: 0;
    border-radius: 6px;
    background-color: #3a4b6a;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    height: 100%;
    padding: 30px 35px 25px;
  }
  
  #features .blockContent p {
    margin: 0;
    font-weight: 300;
    font-style: normal;
    flex-grow: 1;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
  }
  
  #features h2 {
    margin: 0px 0px 15px 0px;
    font-size: 20px;
  }
  
  #features h2 a {
    color: #fff;
    font-size: 35px;
  }
  
  #features a {
    margin: 0;
    font-weight: 500;
    color: #19c6c6;
  }
  
  #features a:hover {
    color: #fff;
  }

/* ==========================================================================
   Section > Nav Footer
   ========================================================================== */

   .nav-footer {
    background: #1b2540 url(../img/background.jpg);
    border: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-bottom: 90px;
    padding-top: 82px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
  
  .nav-footer::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-image: url(../img/noise.png);
    background-size: 276px 276px;
    pointer-events: none;
  }
  
  @media only screen and (min-width: 1024px) {
    .nav-footer {
      flex-shrink: 0;
    }
  }
  
  .nav-footer .sitemap {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 130px;
    max-width: 1080px;
  }
  
  .nav-footer .sitemap div {
    flex: 1;
  }
  
  .nav-footer .sitemap .nav-home {
    display: table;
    height: auto;
    margin: -8px 20px 0 0;
    opacity: 1;
    padding: 10px;
    transition: opacity 0.15s ease-in-out;
    width: auto;
    flex: 2;
  }
  
  @media only screen and (max-width: 735px) {
    .nav-footer .sitemap {
      display: flex;
      flex-direction: column;
      margin: 0 2em 3em;
      width: calc(100% - 4em);
    }
  
    .nav-footer .sitemap > div {
      margin-bottom: 18px;
    }
  }
  
  .nav-footer .sitemap a {
    display: inline;
    margin: 2px -10px;
    padding: 3px 10px;
    font-weight: 400;
    color: #fff;
    font-size: 15px;
    margin-top: 25px;
  }
  
  .nav-footer .sitemap ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  
  .nav-footer .sitemap ul li {
    margin-bottom: 20px;
  }
  
  .nav-footer .sitemap ul li:last-child {
    margin-bottom: 0px;
  }
  
  @media (min-width: 360px) and (max-width: 940px) {
    .nav-footer .sitemap a {
      margin-top: 15px;
      max-width: 180px;
    }
  }
  
  .nav-footer .sitemap a:hover,
  .nav-footer .sitemap a:focus {
    color: #19c6c6;
    text-decoration: none;
  }
  
  .nav-footer .sitemap h5 > a:hover,
  .nav-footer .sitemap h5 > a:focus {
    color: #fff;
  }
  
  .nav-footer .sitemap h5,
  .nav-footer .sitemap h6 {
    margin: 0 0 10px;
  }
  
  .nav-footer .sitemap h5 {
    margin-bottom: 32px;
    font-weight: 500;
    color: #ffffff80;
    font-size: 10px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  @media (min-width: 360px) and (max-width: 736px) {
    .nav-footer .sitemap h5 {
      margin-top: 32px;
    }
  }
  
  .nav-footer .sitemap h6,
  .nav-footer .sitemap h5 > a,
  .nav-footer .sitemap h6 > a {
    color: #fff;
  }
  
  .nav-footer .sitemap h5 > a,
  .nav-footer .sitemap h6 > a {
    margin: 0 -10px;
  }
  
  .nav-footer .fbOpenSource {
    display: block;
    margin: 1em auto;
    opacity: 0.4;
    transition: opacity 0.15s ease-in-out;
    width: 170px;
  }
  
  .nav-footer .fbOpenSource:hover {
    opacity: 1;
  }
  
  .nav-footer .copyright.disclaimer {
    max-width: 650px;
  }
  
  .nav-footer .copyright {
    font-weight: 500;
    font-style: normal;
    color: #ffffff80;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: left;
  }
  
  .nav-footer .social {
    padding: 5px 0;
  }
  
  .site-footer-logo {
    overflow: hidden;
    margin-right: 60px;
  }
  
  .site-footer-logo svg {
    width: 220px;
    height: 35px;
    fill: #fff;
    line-height: 0;
  }
  
  /* Buttons */
.button {
  border: 1px solid #1b2540;
  border-radius: 3px;
  color: #1b2540;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  padding: 10px;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: background 0.3s, color 0.3s;
}

.button:hover {
  background: #1b2540;
  color: #fff;
}

/* Headers */
h1:hover .hash-link,
h2:hover .hash-link,
h3:hover .hash-link,
h4:hover .hash-link {
  opacity: 0.5;
  transition: none;
}

/* Blockquotes */
blockquote {
  background-color: rgba(255, 229, 100, 0.3);
  border-left: 8px solid #ffe564;
  padding: 15px 30px 15px 15px;
}

/* ==========================================================================
   Grid System
   ========================================================================== */

   .col-container {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  @media only screen and (max-width: 768px) {
    .col-container {
      flex-direction: column;
    }
  }
  
  .col-container.align-end {
    align-items: flex-end;
  }
  
  .col-container .col {
    max-width: 33.3%;
    min-width: 33.3%;
    flex-basis: 33.3%;
  }
  
  @media only screen and (max-width: 768px) {
    .col-container .col {
      max-width: 100%;
      min-width: 100%;
      flex-basis: 100%;
    }
  }
  
  .col-container .col-half {
    max-width: 50%;
    min-width: 50%;
    flex-basis: 50%;
  }
  
  .col-container .col-twothird {
    max-width: 66.6%;
    min-width: 66.6%;
    flex-basis: 66.6%;
  }
  
  @media only screen and (max-width: 768px) {
    .col-container .col-twothird {
      max-width: 100%;
      min-width: 100%;
      flex-basis: 100%;
    }
  }
  
  