/* ==========================================================================
   Section > Logic
   ========================================================================== */

#logic .blockContent {
  padding-left: 40px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  #logic .blockContent {
    padding-left: 0px;
  }
}

#logic h2 {
  color: #fff;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: -1.5px;
}

#logic .typeset {
  color: #fff9;
  text-align: left;
  max-width: 460px;
  margin-top: 35px;
}
