/* ==========================================================================
   Section > Home Container
   ========================================================================== */


.heroCover {
background:$primaryColor url(../img/background.jpg);
background-repeat: no-repeat;
background-position: center;
}


@media (min-width: 360px) and (max-width: 736px) {
  .heroCover {
    background-position: center top;
    background-size: cover;
  }
}

.homeContainer {
	text-align: center;
	/* background-color: $primaryColor; */
}

.homeContainer .homeWrapper {
	/* padding: 2em 10px; */
	padding: 120px 10px 80px;
}

@media (min-width: 360px) and (max-width: 736px) {
  .homeContainer .homeWrapper {
    padding: 56px 10px 40px;
  }
}

.projectTitle {
	color: #d3cee0;
	font-size: 60px;
	line-height: 65px;
	letter-spacing: -2px;
	font-weight: 200;
	text-align: center;
	max-width: 650px;
	margin: 20px auto;
}

@media (min-width: 360px) and (max-width: 736px) {
  .projectTitle {
    font-size: 50px;
    line-height: 55px;
  }
}

.projectTitle .lead {
	color: #fff;
	font-weight: 400;
	display: inline;
}

/* Home Container > Promo Section
   ========================================================================== */

.promoSection .promoRow .pluginRowBlock {
	margin-top: 40px;
}

.promoSection .promoRow .pluginRowBlock .pluginWrapper {
	margin-right: 5px;
}

.promoSection .promoRow .pluginRowBlock .pluginWrapper.buttonWrapper .button {
	color: #050c40;
	background-color: $secondaryColor;
	border: 2px solid transparent;
}

.promoSection
	.promoRow
	.pluginRowBlock
	.pluginWrapper.buttonWrapper
	.button:hover {
	color: #050c40;
	background-color: #fff;
	border: 2px solid transparent;
}


@media (min-width: 360px) and (max-width: 736px) {
	.promoSection .promoRow .pluginRowBlock {
		justify-content: flex-start;
	}

	.promoSection .promoRow .pluginRowBlock .pluginWrapper {
		margin-bottom: 15px;
	}

	.promoSection .promoRow .pluginRowBlock {
		margin-left: 10px;
	}
}

/* Home Container > Features
   ========================================================================== */

#features.container {
  padding: 0px 0px 130px;
  /* background: #1b2540; */
  color: #fff;
  margin-top: -1px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  #features.container {
    padding: 0px 0px 75px;
  }
}

#features .blockElement {
	margin: 0px 5px;
}


@media (min-width: 360px) and (max-width: 736px) {
	#features .blockElement {
		margin-bottom: 20px;
	}
}

#features .blockContent {
	z-index: 0;
	border-radius: 6px;
	background-color: #3a4b6a;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
	height: 100%;
	padding: 30px 35px 25px;
}

#features .blockContent p {
	margin: 0;
	font-weight: 300;
	font-style: normal;
	flex-grow: 1;
	font-size: 15px;
	line-height: 20px;
	text-align: left;
}

#features h2 {
  margin: 0px 0px 15px 0px;
  font-size: 20px;
}

#features h2 a {
  color: #fff;
  font-size: 20px;
}

#features a {
	margin: 0;
  font-weight: 500;
  color: $secondaryColor;
}


#features a:hover {
  color: #fff;
}
