/* ==========================================================================
   Section > Natural Language
   ========================================================================== */

#accord .blockContent {
  padding-left: 40px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  #accord .blockContent {
    padding-left: 0;
  }
}

#accord h2 {
  color: #fff;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: -1.5px;
}

#accord h2 .strong {
	font-weight: 300;
	color: #d3cee0;
}

#accord .typeset {
  color: #fff9;
  text-align: left;
  max-width: 460px;
  margin-top: 35px;
}
