/* ==========================================================================
   Section > Nav Footer
   ========================================================================== */

.nav-footer {
	background:$primaryColor url(../img/background.jpg);
	border: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-bottom: 90px;
	padding-top: 82px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (min-width: 1024px) {
	.nav-footer {
		flex-shrink: 0;
	}
}

.nav-footer .sitemap {
	display: flex;
	justify-content: space-between;
	margin: 0 auto 130px;
	max-width: 1080px;
}

.nav-footer .sitemap div {
	flex: 1;
}

.nav-footer .sitemap .nav-home {
	display: table;
	height: auto;
	margin: -8px 20px 0 0;
	opacity: 1;
	padding: 10px;
	transition: opacity 0.15s ease-in-out;
	width: auto;
	flex: 2;
}

.nav-footer .sitemap .nav-home:hover,
.nav-footer .sitemap .nav-home:focus {
	opacity: 0.4;
}

@media only screen and (max-width: 735px) {
	.nav-footer .sitemap {
		display: flex;
		flex-direction: column;
		margin: 0 2em 3em;
		width: calc(100% - 4em);
	}

	.nav-footer .sitemap > div {
		margin-bottom: 18px;
	}
}

.nav-footer .sitemap a {
	display: inline;
	margin: 2px -10px;
	padding: 3px 10px;
	font-weight: 400;
	color: #fff;
	font-size: 15px;
	margin-top: 25px;
}

.nav-footer .sitemap ul {
list-style: none;
margin: 0px;
padding: 0px;
}


.nav-footer .sitemap ul li {
  margin-bottom: 20px;
}

.nav-footer .sitemap ul li:last-child {
  margin-bottom: 0px;
}



@media (min-width: 360px) and (max-width: 940px) {
  
  .nav-footer .sitemap a {
    margin-top: 15px;
    max-width: 180px;

  }
}

.nav-footer .sitemap a:hover,
.nav-footer .sitemap a:focus {
	color: $secondaryColor;
	text-decoration: none;
}

.nav-footer .sitemap h5 > a:hover,
.nav-footer .sitemap h5 > a:focus {
	color: #fff;
}

.nav-footer .sitemap h5,
.nav-footer .sitemap h6 {
	margin: 0 0 10px;
}

.nav-footer .sitemap h5 {
	margin-bottom: 32px;
	font-weight: 500;
	color: #ffffff80;
	font-size: 10px;
	letter-spacing: 2.7px;
	text-transform: uppercase;
	text-decoration: none;
}

@media (min-width: 360px) and (max-width: 736px) {
  .nav-footer .sitemap h5 {
   margin-top: 32px;
  }
}

.nav-footer .sitemap h6,
.nav-footer .sitemap h5 > a,
.nav-footer .sitemap h6 > a {
	color: #fff;
}

.nav-footer .sitemap h5 > a,
.nav-footer .sitemap h6 > a {
	margin: 0 -10px;
}

.nav-footer .fbOpenSource {
	display: block;
	margin: 1em auto;
	opacity: 0.4;
	transition: opacity 0.15s ease-in-out;
	width: 170px;
}

.nav-footer .fbOpenSource:hover {
	opacity: 1;
}

.nav-footer .copyright.disclaimer {
	max-width: 650px;
}

.nav-footer .copyright {
	font-weight: 500;
	font-style: normal;
	color: #ffffff80;
	font-size: 10px;
	letter-spacing: 1px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: left;
}

.nav-footer .social {
	padding: 5px 0;
}

.site-footer-logo {
	overflow: hidden;
	margin-right: 60px;
}

.site-footer-logo svg {
	width: 220px;
	height: 35px;
	fill: #fff;
	line-height: 0;
}
