:root{
  --ifm-color-primary-lightest: #233053;
  --ifm-color-primary-lighter: #1F2B4A;
  --ifm-color-primary-light: #1E2946;
  --ifm-color-primary: #1b2540;
  --ifm-color-primary-dark: #18213A;
  --ifm-color-primary-darker: #171F36;
  --ifm-color-primary-darkest: #131A2D;
}
